<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Aut_MS_Conn" value="https://localhost:14444/api/Autorization/admins"/>
		<add key="Aut_MS_Occ" value="https://localhost:14444/api/Autorization/Occ"/>
		<add key="Aut_Set_On" value="https://localhost:14444/api/Autorization/SetAdminOnline"/>
		<add key="Aut_Set_Off" value="https://localhost:14444/api/Autorization/SetAdminOffline"/>

		<add key="BicycleModel_Conn" value="https://localhost:14445/api/BicycleModel/ByOcc"/>
		<add key="BicycleLocks_Conn" value="https://localhost:14445/api/BicyclesLocks/ByOcc"/>
		<add key="Journal_Conn" value="https://localhost:14445/api/Journals"/>
		<add key="StaticMapAPI" value="https://static-maps.yandex.ru/v1"/>
		<add key="Courier_Conn" value="https://localhost:14445/api/Couriers"/>
		
		
		<add key="Add_New_Bi_Conn" value="https://localhost:14445/api/BicycleModel/New"/>

		
		<add key="Del_Bi_Conn" value="https://localhost:14445/api/BicycleModel/Delete"/>
		<add key="Del_BiL_Conn" value="https://localhost:14445/api/BicyclesLocks"/>

		
		<add key="Add_New_BiL_Conn" value="https://localhost:14445/api/BicyclesLocks/AddNew"/>
		
	</appSettings>
	
</configuration>